body{
    font-family: "Poppins", sans-serif;
    --s: 50px;
    --c: #191b22;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
    background: 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
      repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
      radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
    margin: 0;
}

nav {

    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
    display: flex;
    background-color: lightslategrey;
}

.navbar {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_logo h2 {
    margin: 0;
    display: flex;
    color: chartreuse;
  
}

.nav_link {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
  color: #ffffa3; 
    transition: 1s; 
    text-decoration: none;
}

.nav_item {
    margin-left: 35px;
    padding: 5px;
    text-transform: capitalize;
    display: flex;
}

.nav_list {
    display: flex;
   
}

.contact_us {
    background-image: url(xaf1.jpg);
    background-size: cover;
    background-position: center 30%;
    position: relative;
    z-index: 1;
    padding: 190px 0;
}

.contact_us::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

#contact_us_title {
    color: #edeec9;
    text-align: center;
}

.contacts {
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
}

img.contact_icon {
    width: 270px;
    height: 350px;
    background: y;
}

.contact_block {
    height: 270px;
    width: 270px;
}

.contact_icon_background {
    height: 106px;
    width: 106px;
    background-color: #dfdfe0;
    border-radius: 100px;

    float: l;
}

.contact_block_info {
    margin-top: 36px;
    font-size: 20px;
    color: #1d0909;
    line-height: 28px;
}

.contact_us_form {
    display: grid;
    grid-template-rows: 85px 325px 85px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
}

.contact_us_form textarea {
    padding: 25px;
    outline: 0px;
}

.contact_us_input {
    border-radius: 15px;
    font-weight: 600;
    font-size: 20px;
    
}

.contact_us_send_button {
    background-color: #190f0f;
    color: #fdeeee;
    width: 100%;
    
}

.contact_us_send_button:hover {
    background-color: rgb(22, 3, 3);
}

.contact_us_send_button:active {
    background-color: rgb(18, 11, 11);
}

#contact_block_1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#contact_block_2 {
    grid-column-start: 3;
    grid-column-end: 5;
}

#contact_block_3 {
    grid-column-start: 1;
    grid-column-end: 5;
}

#contact_block_4 {
    grid-column-start: 4;
    grid-column-end: 5;
   
        
}
  





.jon5 {
    justify-content: space-between;
    column-count: 3;
    display: flex;
    gap: 200px;


}

.socio_icon_block {
    height: 50px;
    width: 50px;
    background-color: #f0f1f1;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 14px;
    font-size: 30px;
    display: flex;
    justify-content: left;
    margin-top: 30px;
    cursor: pointer;
    vertical-align: 300px;

}

.jon2 {
    display: flex;

}



img.contact_icon_111 {
  
    width: 300px; 
    height: 300px; 
  overflow: hidden; 
  -webkit-transition: all 0.5s ease;
   transition: all 0.5s ease;
   border-radius: 50%; 
   -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

}
  





.contactss{
    display: flex;
}
.contactt_iconss{
    display: flex;
    align-items: center;
}

h1.contactt_iconss {
    margin-right: 200px;

}

h1.line-through{
  color: #f66d52; /* Цвет текста */
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2em;
  text-decoration:none; 
}
h1.line-through:hover{
  text-decoration:line-through; /* Добавляем зачеркивание */
}
h2.line-through{
    color: #f66d52; /* Цвет текста */
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1em;
    text-decoration:none; 
  }
  h1.line-through:hover{
    text-decoration:line-through; /* Добавляем зачеркивание */
  }
.hgghgh {
    display: flex;

}

.header_us {

    justify-content: space-between;
    align-items: center;
}

.columns-2 {
    font-size: 30;

    left: 500px;
    position: absolute;
    font-size: x-large;
}

h1 {

    text-align: left;

}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}

.gallery img {
    width: 500px;
    height: auto;
    cursor: pointer;
    margin: 10px;
    display: inline-block; 
    overflow: hidden;
    border: 3px solid #413f3f;

}
img:hover {
    border: 3px solid #413f3f; 
}

.jjjj12 {
    text-align: center;
}

.dfdf1 {
    margin-left: 550px;
    font-size: x-large;
    text-decoration: none;
}
.sss{
    text-decoration: none;
 color:#ffffa3;

    
}
.container{
    width: 1170px;
    margin: 0 auto ;

}
.ccc{
    text-decoration: none;
    color: #7ac74f;
}
.ssss{
    text-decoration: none;
    color: #ffffa3;
}
.ccccc{
    text-decoration: none;
    color: #7ac74f;
}
.sssss{
    text-decoration: none;
    color:#ffffa3;

}
.cccc{
    width: auto;
    height: auto;
}
.magigs1:hover{
    border: 3px solid #413f3f;
}
@media screen and (max-width:970px){
 .container{
    width: 970px;
 }
 .nav_list{
    width: 100%;
 }
 .dfdf1{
    margin-left: 400px;
 }
 .jon5{
    gap: 70px;
 }
}

@media screen and (max-width:992px){
    .contact_text{
        font-size: 7px;
        margin-right: 50px;
    }
.contact_icon_111{
    margin-left: 20px;
}
.gallery{
    margin-left: 30px;
}
.dfdf1{
    margin-left: 310px;
}
.section_heading{
   margin-right: px;
}
.contact_us_form{
    width: 750px;
}
.jon5{
    flex-wrap:wrap;
    column-count: 3;
    gap: 20px;
  
}
.container{
    width: 750px;
}
}
@media screen and (max-width:576px){
    .container{
        width: 576px;
    }
    .contact_icon_111{
     margin-left: 20px;
    }
    .contact_text{
        font-size: 10px;
        margin-right: 50px;
 
   }
   
   .dfdf1{
    margin-left: 200px;
   }
   .gallery{
    margin-right: 30px;
   }
   .contact_us_form{
    width: 576px;
   }
   .nav_list{
     display: none;
   }
}
.underline-one {
	color: #ffffa3; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
.underline-one:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.underline-one:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: red; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
   
/* Общие стили для всех кнопок */
.btn-different{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.slide-btns {
	position: relative;
  color: #f8f4f4;
  font-size: 0.950em;
  text-transform:  uppercase;
  background: #83bec5;
  border: 1px solid #527c82;
  padding: 10px 30px;
  margin: 15px;  
  z-index: 1;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}
.slide-btns:hover {
  color: #0f1111;
  text-decoration: none;
}
.slide-btns::after {
  content: "";
  background: #527c82;
  position: absolute;
  z-index: -1;

  display: block;
}
.slide-btns[class^="slide"]::after {
  transition: all 0.60s;
}
.slide-btns[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.60s;
}

/* Button 1 Перекрывается слева */
.slide-btns.slide-left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}

/* Button 2 Перекрывается справа */
.slide-btns.slide-right::after {
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
}

/* Button 3 Перекрывается сверху */
.slide-btns.slide-top::after {
  left: 0;
  right: 0;
  top: -100%;
  bottom: 100%;
}

/* Button 4 Перекрывается снизу */
.slide-btns.slide-bottom::after {
  left: 0;
  right: 0;
  top: 100%;
  bottom: -100%;
}

/* Время при наведении для оставшихся кнопок */
.slide-btns[class^="slide"]::after {
  transition: all 0.50s ease;
}
.slide-btns[class^="slide"]:hover::after {
  transition: all 0.50s ease-out;
}

/* Button 5 Перекрывается квадрат */
.slide-btns.slide-square::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
}
.slide-btns.slide-square:hover::after {
  transform: scale(1, 1);
}

/* Button 6 Перекрывается элипс */
.slide-btns.slide-ellipse::after {
  border-radius: 50%;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  line-height: 10em;
  transform: scale(0, 0);
}
.slide-btns.slide-ellipse:hover::after {
  transform: scale(2, 2);
}

/* Button 7 Перекрывается диагонально направо */
.slide-btns.slide-d-right::after {
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
}
.slide-btns.slide-d-right:hover::after {
  transform: skewX(-45deg) scale(2, 2);
}

/* Button 8 Перекрывается диагонально налево */
.slide-btns.slide-d-left::after {
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(45deg) scale(0, 1);
}
.slide-btns.slide-d-left:hover::after {
  transform: skewX(45deg) scale(2, 2);
}

/* Button 9 Перекрывается спиралью */
.slide-btns.slide-spin::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0) rotate(-180deg);
}
.slide-btns.slide-spin:hover::after {
  transform: scale(1, 1) rotate(0deg);
}
     